[Unit]
Description=House Monitoring and Control System
After=syslog.target

[Service]
WorkingDirectory=/usr/lib/python2.7/site-packages/HouseMonitor-4.0.4-py2.7.egg/housemonitor
ExecStart=/usr/bin/python /usr/lib/python2.7/site-packages/HouseMonitor-4.0.4-py2.7.egg/housemonitor/HouseMonitor.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target

