[Unit]
Description=House Monitoring and Control System
After=syslog.target

[Service]
WorkingDirectory=/usr/lib/python2.7/site-packages/housemonitor/
ExecStart=/usr/bin/python2.7 /usr/bin/HouseMonitor
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target

